{% extends 'home.html' %}
{% block title %}About - Warka Solutions{% endblock %}

{% load static %}
{% block content %}
<main class="main">

  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Debre Tabor Polytechnic College History</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Page Title -->

  <!-- About Us Section -->
  <section id="about-us" class="section about-us">
    <div class="container">

      <!-- Brief History -->
      <div class="row gy-4">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="{% static 'img/aaa.jpg' %}" class="img-fluid rounded shadow" alt="College History">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Brief History</h3>
          <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
      </div>

      <!-- Present Status -->
      <div class="row gy-4 mt-5" data-aos="fade-up" data-aos-delay="300">
        <div class="col-12">
          <h3>The Present Status</h3>
          <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a luctus sapien, non hendrerit lorem. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
        </div>
      </div>

      <!-- Future Direction -->
      <div class="row gy-4 mt-5" data-aos="fade-up" data-aos-delay="400">
        <div class="col-12">
          <h3>Future Direction</h3>
          <p style="text-align: justify;">
            Consolidating leadership in science and scholarship by enhancing research, expanding innovative programs, 
            and strengthening community engagement for sustainable development.
          </p>
        </div>
      </div>

    </div>
  </section><!-- /About Us Section -->

</main>
{% endblock %}
