{% extends 'home.html' %}
{% block title %}About - Warka Solutions{% endblock %}

{% load static %}
{% block content %}
<main class="main">

  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>OUR MISSION, VISION AND VALUES</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Page Title -->

  <!-- About Us Section -->
  <section id="about-us" class="section about-us">
    <div class="container">

      <div class="row gy-4">
        <!-- Vision -->
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <h2>Our Vision</h2>
          <p class="fst-italic">
           Debre Tabor Polytechnic College aspires to be the leading center of excellence institute in the Technical and Vocational Education and Training colleges of Ethiopia on the priority areas by the year 2035.  
          </p>
          <h2>ራዕይ</h2>
          <p class="fst-italic">
         ደብረታቦር ፖሊ ቴክኒክ ኮሌጅ ትኩረት በሚሰጣቸዉ የስልጠና መስኮች ከኢትዮጵያ ቴክኒክና ሙያ ትምህርትና ስልጠና ኮሌጆች በ2028 ዓ.ም ግንባር  ቀደም የልህቀት ማዕከል ተቋም ሆኖ ማየት::   
         </p>
        </div>

        <!-- Mission -->
        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h2>Our Mission</h2>
          <p class="fst-italic">
           To deliver demand-driven outcome-based Technical Vocational Education and Training that equips trainees with Competencies required by the labor market. The college also aims to provide quality industry extension services, transferring viable technologies and conducting action researches that can strengthen Micro and Small Enterprises and enable them to become competitive in the market, thereby enabling sustainable economic growth in our society.
          </p>
           <h2>ተልዕኮ </h2>
          <p class="fst-italic">
            በፍላጎት ላይ የተመሰረተ ዉጤት ተኮር የቴክኒክና ሙያ ትምህርትና ስልጠና በመስጠት ሰልጣኞች የስራ ገበያው የሚፈልገውን ብቃት እንዲይዙ ማድረግ፡፡  እንዲሁም ለጥቃቅንና አነስተኛ ኢንተርፕራይዞች ጥራት ያለዉ የኢንዱስትሪ ኤክስቴንሽን አገልግሎት በመስጠት፣ አዋጭ ቴክኖሎጅዎችን በማሸጋገር እና ተግባራዊ ጥናትና ምርምር በማካሄድ በገበያ ተወዳዳሪ እንዲሆኑ በማድረግ ቀጣይነት ያለዉ የኢኮኖሚ እድገት በማህበረሰባችን እንዲጎለብት ማስቻል፡፡
        </p>
        </div>
      </div>

      <!-- Values -->
      <div class="row mt-5" data-aos="fade-up" data-aos-delay="300">
        <div class="col-12 text-center">
          <h2>Our Values/ ዋና ዋና እሴቶች</h2>
         <p class="fst-italic" style="font-size: 16px; line-height: 1.7; text-align: justify; text-justify: inter-word;">

  <strong>1. Excellence –</strong> We strive for the highest standards in training, service delivery, and personal performance.<br>
  <strong> ልህቀትነት -</strong> በስልጠና፣ በአገልግሎት አሰጣጥ እና በጋራም ሆነ በግል አፈፃፀም ልቆ ለመገኘት እንተጋለን።<br><br>

  <strong>2. Encourage Innovation –</strong> We encourage creativity, problem-solving, and the adoption of new technologies in training and industry support.<br>
  <strong> ፈጠራን ማበረታታት -</strong> በስልጠና እና ኢንዱስትሪ ድጋፍ የፈጠራ ችሎታን ማሳደግ፣ ችግሮችን መፍታት እና አዳዲስ ቴክኖሎጂዎችን ማላመድን እናበረታታለን።<br><br>

  <strong>3. Integrity –</strong> We uphold honesty, transparency, and accountability in all our actions.<br>
  <strong> ታማኝነት -</strong> በሁሉም ተግባሮቻችን ውስጥ ታማኝነትን፣ ግልጽነትን እና ተጠያቂነትን እናሰፍናለን።<br><br>

  <strong>4. Collaboration –</strong> We work hand-in-hand with industry, government, and the community to achieve shared goals.<br>
  <strong> በጋራ መስራት -</strong> የጋራ ግቦችን ለማሳካት ከኢንዱስትሪ፣ ከመንግስት እና ከማህበረሰቡ ጋር እጅ ለእጅ ተያይዘን እንሰራለን።<br><br>

  <strong>5. Empowerment –</strong> We equip learners, enterprises and staff with the tools, skills, and confidence to thrive independently.<br>
  <strong> ማብቃት -</strong> የሰልጣኞችን፣ የኢንተርፕራይዞችን እና የሰራተኛውን እውቀት፣ ክህሎት፣ አመለካከት እና በራስ መተማመን ለማሳደግ እንተጋለን፣ ምቹ ሁኔታን እንፈጥራለን።<br><br>

  <strong>6. Sustainability –</strong> We promote environmentally responsible practices and contribute to lasting economic and social development.<br>
  <strong> ዘላቂነት -</strong> ለአካባቢ ጥበቃ አስተዋፅኦ ያላቸውን ተግባራት በማከናወን ለዘላቂ ኢኮኖሚያዊ

        </div>
      </div>
       <!-- Values -->

    <div class="row gy-4" id="dean-message"> 
<h2 style="text-align: center;color: blue;" >Leadership Team & Messages</h2>
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
       <img src="{{ dean_message.attachment.url }}" alt="{{ dean_message.name }}" class="img-fluid" style="border-radius: 10px; max-width: 100%; height: auto;">
      </div>

      <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
       <h3 style="color: blue;">Dean's Message</h3>
        <p class="fst-italic" style="text-align: justify;">
          {{ dean_message.message }}
          
        </p>
      </div>


    </div>
  </section><!-- /About Us Section -->

</main>
{% endblock %}
