{% extends 'home.html' %}
{% block title %}{{ digital_library.title }} - Warka Solutions{% endblock %}

{% block content %}
<main class="main">
  <div class="container">
    <h1>{{ production_unit.title }}</h1>
    <p>{{ production_unit.description }}</p>

    <p><strong>Published Date:</strong> {{ production_unit.published_date|date:"M d, Y" }}</p>

    {% if production_unit.attachment %}
      <a href="{{ production_unit.attachment.url }}" download class="btn btn-sm btn-outline-primary mt-2">Download Attachment</a>
    {% endif %}

    <a href="{% url 'production_unit_list' %}" class="btn btn-sm btn-outline-primary mt-3">Back</a>
  </div>
</main>
{% endblock %}